@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300;400;700&display=swap");
$palette: () !default;
$palette: map-merge(
  (
    primary: #313131,
    secondary: #515152,
  ),
  $palette
);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #313131;
  padding: 0 20rem;
}

@import "../../node_modules/@molecule-ui/styles/src/index.scss";

.roboto-light {
  font-family: "Roboto", sans-serif;
  @extend .text-light;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  @extend .text-regular;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  @extend .text-bold;
}
.height-8px {
  height: 8px;
}

.text-decoration-none {
  text-decoration: none;
}

.letter-space-custom-h1 {
  letter-spacing: -0.02em;
}
.letter-space-custom-h2 {
  letter-spacing: -0.01em;
}

.heading-one::before,
.heading-one::after,
.heading-two::before,
.heading-two::after {
  font-family: "Dancing Script", cursive;
  @extend .font-subtitle;
  @extend .position-absolute;
  @extend .text-lowercase;
  @extend .font-secondary;
}

.heading-one::before {
  content: "<h1>";
  left: 6px;
  top: -6px;
}

.heading-one::after {
  content: "</h1>";
  bottom: 10px;
}

.heading-two::before {
  content: "<h2>";
  left: 6px;
  top: -10px;
}

.heading-two::after {
  content: "</h2>";
  bottom: 10px;
}
.bg-transparent {
  background-color: transparent;
}

.border-transparent {
  border-color: transparent;
}
.width-100-px {
  width: 100px;
}
